body {
    margin: 0;
    font-family: 'Lucida Sans';
    background-image: url('./download.jpeg'); 
    background-size: cover;
}

.niav {
    color: rgb(221, 34, 34);
}

.mymy {
    color: brown;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hav {
    color: aqua;
}

.two {
    background-color: blue;
}

.my-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./download.jpeg');
}

.menu-item:hover{
    background-color: aquamarine;
    border-radius: 30px;
}

.menu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 25px;
    

}

.item {
    text-decoration: none;
    color: black;
    padding: 15px;
}

.item:hover {
    background-color: blueviolet;
    border-radius: 20px;
}

.flex-container {
    width: 80%;
    height: 80%;
    background-color: aquamarine;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
}

.flex-container p {
    height: 100px;
    width: 100px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.content-section {
    background-color: azure;
    width: fit-content;
    padding: 40px;
    margin: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 7px 8px 5px;;
    
}

.content-section h2 {
    font-size: 24px;
}

.content-section h3 {
    font-size: 18px;
}

.content-section ul {
    list-style: armenian;
}

.content-section p {
    margin: 5px;
}

.right {
    align-self: flex-end;
    background-color: blanchedalmond;

}

.active {

}
